### ANALISIS EXPLORATORIO

In [2]:
import pandas as pd 
import numpy as np

Aceites

In [3]:
df_Aceites = pd.read_csv("Aceites.csv")
df_Aceites.shape

(42, 32)

In [5]:
df_Aceites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SKU                                 42 non-null     int64
 1   1er trimestre  ( 2015 ) - Cantidad  29 non-null     object
 2   2º trimestre  ( 2015 ) - Cantidad   23 non-null     object
 3   3er trimestre  ( 2015 ) - Cantidad  25 non-null     object
 4   4º trimestre  ( 2015 ) - Cantidad   27 non-null     object
 5   1er trimestre  ( 2016 ) - Cantidad  25 non-null     object
 6   2º trimestre  ( 2016 ) - Cantidad   26 non-null     object
 7   3er trimestre  ( 2016 ) - Cantidad  31 non-null     object
 8   4º trimestre  ( 2016 ) - Cantidad   28 non-null     object
 9   1er trimestre  ( 2017 ) - Cantidad  28 non-null     object
 10  2º trimestre  ( 2017 ) - Cantidad   25 non-null     float64
 11  3er trimestre  ( 2017 ) - Cantidad  27 non-null     object
 12  4º trimestre  ( 2017 ) - Cantidad   26 non-null     object
 13  1er trimestre  ( 2018 ) - Cantidad  29 non-null     object
 14  2º trimestre  ( 2018 ) - Cantidad   26 non-null     object
 15  3er trimestre  ( 2018 ) - Cantidad  32 non-null     object
 16  4º trimestre  ( 2018 ) - Cantidad   34 non-null     object
 17  1er trimestre  ( 2019 ) - Cantidad  33 non-null     object
 18  2º trimestre  ( 2019 ) - Cantidad   31 non-null     object
 19  3er trimestre  ( 2019 ) - Cantidad  28 non-null     object
 20  4º trimestre  ( 2019 ) - Cantidad   30 non-null     object
 21  1er trimestre  ( 2020 ) - Cantidad  30 non-null     object
 22  2º trimestre  ( 2020 ) - Cantidad   33 non-null     float64
 23  3er trimestre  ( 2020 ) - Cantidad  31 non-null     object
 24  4º trimestre  ( 2020 ) - Cantidad   35 non-null     float64
 25  1er trimestre  ( 2021 ) - Cantidad  33 non-null     object
 26  2º trimestre  ( 2021 ) - Cantidad   31 non-null     float64
 27  3er trimestre  ( 2021 ) - Cantidad  33 non-null     object
 28  4º trimestre  ( 2021 ) - Cantidad   33 non-null     object
 29  1er trimestre  ( 2022 ) - Cantidad  30 non-null     object
 30  2º trimestre  ( 2022 ) - Cantidad   30 non-null     object
 31  3er trimestre  ( 2022 ) - Cantidad  29 non-null     object
dtypes: float64(4), int64(1), object(27)
memory usage: 10.6+ KB

In [7]:
df_Aceites.describe()

,SKU,2º trimestre ( 2017 ) - Cantidad,2º trimestre ( 2020 ) - Cantidad,4º trimestre ( 2020 ) - Cantidad,2º trimestre ( 2021 ) - Cantidad
count,4.200000e+01,25.000000,33.000000,35.000000,31.000000
mean,1.201472e+06,136.560000,88.515152,58.657143,108.967742
std,2.363880e+05,250.432805,175.465296,112.101829,142.822847
min,4.180100e+04,1.000000,1.000000,1.000000,1.000000
25%,1.270038e+06,4.000000,5.000000,6.000000,17.500000
50%,1.293680e+06,16.000000,22.000000,23.000000,45.000000
75%,1.300030e+06,170.000000,107.000000,60.500000,138.500000
max,1.300060e+06,999.000000,947.000000,610.000000,568.000000