### ANALISIS EXPLORATORIO

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

Aceites

In [2]:
df_Aceites = pd.read_csv("Aceites3.csv")
df_Aceites.shape
df_Aceites.head()

,SKU,WASD,2º trimestre ( 2015 ) - Cantidad,3er trimestre ( 2015 ) - Cantidad,4º trimestre ( 2015 ) - Cantidad,1er trimestre ( 2016 ) - Cantidad,2º trimestre ( 2016 ) - Cantidad,3er trimestre ( 2016 ) - Cantidad,4º trimestre ( 2016 ) - Cantidad,1er trimestre ( 2017 ) - Cantidad,...,2º trimestre ( 2020 ) - Cantidad,3er trimestre ( 2020 ) - Cantidad,4º trimestre ( 2020 ) - Cantidad,1er trimestre ( 2021 ) - Cantidad,2º trimestre ( 2021 ) - Cantidad,3er trimestre ( 2021 ) - Cantidad,4º trimestre ( 2021 ) - Cantidad,1er trimestre ( 2022 ) - Cantidad,2º trimestre ( 2022 ) - Cantidad,3er trimestre ( 2022 ) - Cantidad
0,41801,98.0,58.0,35.0,135.0,53.0,54.0,NaN,NaN,NaN,...,22.0,32.0,19.0,34.0,29.0,14.0,3.0,31.0,48.0,55.0
1,870201,18.0,NaN,15.0,10.0,16.0,10.0,5.0,21.0,1.0,...,5.0,8.0,23.0,18.0,15.0,15.0,14.0,12.0,19.0,5.0
2,870202,31.0,23.0,31.0,61.0,30.0,25.0,16.0,38.0,2.0,...,14.0,13.0,41.0,34.0,21.0,1.0,26.0,17.0,11.0,19.0
3,870203,24.0,7.0,22.0,9.0,22.0,11.0,24.0,27.0,2.0,...,1.0,40.0,11.0,26.0,47.0,2.0,30.0,18.0,11.0,11.0
4,870215,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,7.0,...,NaN,NaN,NaN,2.0,NaN,8.0,NaN,NaN,4.0,NaN

In [3]:
df_Aceites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SKU                                 42 non-null     int64
 1   WASD                                29 non-null     float64
 2   2º trimestre  ( 2015 ) - Cantidad   23 non-null     float64
 3   3er trimestre  ( 2015 ) - Cantidad  25 non-null     float64
 4   4º trimestre  ( 2015 ) - Cantidad   27 non-null     float64
 5   1er trimestre  ( 2016 ) - Cantidad  25 non-null     float64
 6   2º trimestre  ( 2016 ) - Cantidad   26 non-null     float64
 7   3er trimestre  ( 2016 ) - Cantidad  31 non-null     float64
 8   4º trimestre  ( 2016 ) - Cantidad   28 non-null     float64
 9   1er trimestre  ( 2017 ) - Cantidad  28 non-null     float64
 10  2º trimestre  ( 2017 ) - Cantidad   25 non-null     float64
 11  3er trimestre  ( 2017 ) - Cantidad  27 non-null     float64
 12  4º trimestre  ( 2017 ) - Cantidad   26 non-null     float64
 13  1er trimestre  ( 2018 ) - Cantidad  29 non-null     float64
 14  2º trimestre  ( 2018 ) - Cantidad   26 non-null     float64
 15  3er trimestre  ( 2018 ) - Cantidad  32 non-null     float64
 16  4º trimestre  ( 2018 ) - Cantidad   34 non-null     float64
 17  1er trimestre  ( 2019 ) - Cantidad  33 non-null     float64
 18  2º trimestre  ( 2019 ) - Cantidad   31 non-null     float64
 19  3er trimestre  ( 2019 ) - Cantidad  28 non-null     float64
 20  4º trimestre  ( 2019 ) - Cantidad   30 non-null     float64
 21  1er trimestre  ( 2020 ) - Cantidad  30 non-null     float64
 22  2º trimestre  ( 2020 ) - Cantidad   33 non-null     float64
 23  3er trimestre  ( 2020 ) - Cantidad  31 non-null     float64
 24  4º trimestre  ( 2020 ) - Cantidad   35 non-null     float64
 25  1er trimestre  ( 2021 ) - Cantidad  33 non-null     float64
 26  2º trimestre  ( 2021 ) - Cantidad   31 non-null     float64
 27  3er trimestre  ( 2021 ) - Cantidad  33 non-null     float64
 28  4º trimestre  ( 2021 ) - Cantidad   33 non-null     float64
 29  1er trimestre  ( 2022 ) - Cantidad  30 non-null     float64
 30  2º trimestre  ( 2022 ) - Cantidad   30 non-null     float64
 31  3er trimestre  ( 2022 ) - Cantidad  29 non-null     float64
dtypes: float64(31), int64(1)
memory usage: 10.6 KB

In [6]:
df_Aceites = df_Aceites.astype({'WASD':'int'})

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df_Aceites.isnull().sum()

In [ ]:
df_Aceites.replace(np.nan,'0',inplace = True)

In [ ]:
df_Aceites.isnull().sum()

In [ ]:
corr = df_Aceites.corr()
sns.heatmap(corr)